body {
  background-color: #a6c5f7;
  font-family: sans-serif;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.centre{
	outline: 2px solid #000;
	width: 600px;
	height: 300px;
	margin: auto;
	margin-top: 300px;
}
#in{
	width: 400px;
	margin-top: 2px;
	margin-left: 40px;
}
h1{
	text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: black;
  font-size: 30px;
}
.add{
	 width: 376px;
  padding: 10px;
}